extends ../layouts/default

block content
	.container: .jumbotron
		h1 Hi.
		p You've reached Matthew Mack's Javascript-based full-stack website which is probably going to be in a state of flux for a very very long time as I learn and figure out a whole bunch of new things. For now, just enjoy the blog posts.
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
