extends ../layouts/default

block content
  .container: .jumbotron
    h1 Legacy
    p Long story short, I've done a bunch of very random stuff in which there exists evidence on the internet, and thought it'd be nice to have a curated list. If anyone has a better title than 'Legacy' for this section I'm all ears! 
    ul
      li 2017 - 
        a(href="https://masterpiecesofthemind.com/matt-27-mathematician/") Interviewed for Masterpieces of the Mind, a local initiative to raise awareness about mental health and mental illnesses.
      li 2017 -  
        a(href="https://www.australianmusiccentre.com.au/workversion/giles-vincent-process-delicate-and-violent/32979" target="_blank")  Assisted a composer colleague Vincent Giles with an algorithm for determining time distributions for a commissioned work which premiered in Amsterdam.
      li 2014 -  
        a(href='http://youngausskeptics.com/2014/12/unfiltered-thoughts-matthew-mack-on-mathematics/' target="_blank") Guest on a Podcast 'Unfiltered Thoughts' (hosted by a colleague from high school) talking about mathematics.